<div class="large reveal" id="exampleModal" data-reveal>
<li class='grid-item'>
  <ul>
    <!-- <li><%= comment.user.try(:email) %></li> -->
    <ul class="grid">
      <a href="#" data-reveal-id="_<%= comment.id %>"><%= image_tag comment.image.url %></a>
      <div class="reveal" id="<%= comment.id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
        <li><%= comment.comment %></li>
      </div>
  </ul>
</ul>
</li> 

<div class='grid-item'>
  <div id="_<%= comment.id %>" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true"  role="dialog">
    <div class='modalimage'>
    <%= image_tag comment.image.url %>
    </div>
    <p><%= comment.comment %></p>
    <p>Uploaded by <%= comment.user.try(:email) %></p>
    <%= link_to 'Delete Comment', comment_path(comment, commentable_type: commentable.class.to_s.underscore,  commentable_id: commentable.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>
</div> 
</div>

