<!DOCTYPE html>
<html>
<body>

<ul class="wedding_orbit" data-orbit>
  <li>
    <!-- <img src="assets/images/cars.jpg" alt="slide 1" /> -->
    <%= image_tag "cars.jpg" %>
  </li>
  <li class="active">
    <!-- <img src="assets/images/royles.jpg" alt="slide 2" /> -->
    <%= image_tag "royles.jpg" %>
  </li>
  <li>
    <!-- <img src="assets/images/walk.jpg" alt="slide 3" /> -->
    <%= image_tag "walk.jpg" %>
  </li>
  <li>
    <!-- <img src="assets/images/walk.jpg" alt="slide 4" /> -->
    <%= image_tag "wedding1.jpeg" %>
  </li>
</ul>
<div class='logo'>
<%= image_tag "logo.png" %>
</div>

</body>
</html>

