<%= form_for(@wedding) do |f| %>
  <% if @wedding.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wedding.errors.count, "error") %> prohibited this wedding from being saved:</h2>

      <ul>
      <% @wedding.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info %>
  </div>

  <div class="fieldshow">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
