<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wedding.title %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @wedding.owner_id%>
</p>

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
