<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wedding.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @wedding.user_id%>
</p>

<p>
  <strong>Info:</strong>
  <%= @wedding.info%>
</p>

<p>
  <strong>Description:</strong>
  <%= @wedding.description%>
</p>

<%= image_tag 'http://i.imgur.com/PcCyTzp.jpg' %>
<!-- <p>
  <%= @wedding.image %>
</p> -->

<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
