<p id="notice"><%= notice %></p>

<p class="title">
  <%= @wedding.title %>
</p>

<p class='description'>
  <%= @wedding.description %>
</p>

<p class=='info'>
  <%= @wedding.info %>
</p>

<%= render partial: 'comments/form', locals: { commentable: @wedding } %>

<ul class="grid">
  <%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @wedding } %>
</ul>

<% @guests.each do |guest| %>
<%= guest.email %>
<% end %>


<%= link_to 'Edit', edit_wedding_path(@wedding) %> |
<%= link_to 'Back', weddings_path %>
